<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=`, initial-scale=1.0">
  <title>Search Result</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
  <main class="container">
    <h1>Search Result for "{{keyword}}"</h1>
    <a href="/export?keyword={{keyword}}">Export</a>
    <figure><table role="grid">
      <thead>
        <tr>
          <th>Position</th>
          <th>Compamny</th>
          <th>Location</th>
          <th>Link</th>
      </tr>
      <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{job.position}}</td>
          <td>{{job.company}}</td>
          <td>{{job.region}}</td>
          <td><a href={{job.link}} target="_blank">Apply Now</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table></figure>
  </main>
</body>
</html>